.dlg_font {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}
.dlg_font.show {
  display: block;
}
.dlg_font .dlg_font_box {
  position: relative;
  /* top: 100px; */
  height: 498px;
  width: 438px;
  margin: 100px auto;
  border: 1px solid #0f7fd6;
  box-shadow: 10px 10px 10px #d6d6d6;
  user-select: none;
  cursor: default;
}
.dlg_font .header {
  height: 30px;
  background-color: #fff;
  font-size: 13px;
}
.dlg_font .header > div:first-child {
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}
.dlg_font .header > div:last-child {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #808080;
  font-size: 14px;
  font-weight: bold;
}
.dlg_font .header > div:last-child:hover {
  background-color: #f11;
  color: #fff;
}
.dlg_font .body {
  height: 444px;
  width: 414px;
  background-color: #f0f0f0;
  padding: 12px;
}
.dlg_font .body .select_box {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 176px 132px 64px;
  grid-template-rows: 16px 20px 116px;
  grid-gap: 2px 16px;
}
.dlg_font .body .select_box input[type="text"] {
  height: 20px;
  padding-left: 2px;
  border: 1px solid #0078d7;
}
.dlg_font .body .select_box ul {
  background-color: #fff;
  border: 1px solid #828790;
  overflow-y: scroll;
}
.dlg_font .body .select_box ul li {
  height: 16px;
  line-height: 16px;
  padding-left: 2px;
}
.dlg_font .body .select_box ul li.selected {
  background-color: #0078d7;
  color: #fff;
}
.dlg_font .body .sample {
  width: 200px;
  height: 90px;
  padding: 5px 10px;
  border-color: #fff;
  margin-top: 28px;
  margin-left: 2px;
}
.dlg_font .body .sample legend {
  background-color: #f0f0f0;
  padding: 0 4px;
}
.dlg_font .body .script {
  margin-top: 12px;
}
.dlg_font .body .script select{
  height: 22px;
  width: 214px;
}
.dlg_font .body input[type="button"] {
  position: absolute;  
  bottom: 12px;
  height: 28px;
  width: 86px;
}
.dlg_font .body input[type="button"].btn_ok {
  right: 110px;
}
.dlg_font .body input[type="button"].btn_cancel {
  right: 16px;
}
